.home-banner {
    height: 542px;
    background: url(../../static/images/home-banner-bg.jpg) no-repeat center top;
    .container {
        position: relative;
    }
    .txt {
        padding-top: 119px;
    }
    .img {
        position: absolute;
        right: -50px;
        top: 80px;
    }
}

.home-news-block {
    .container {
        overflow: hidden;
        padding: 0px 60px;
    }
    .txt {
        float: right;
        margin-top: 100px;
        h2 {
            font-size: 30px;
            margin-bottom: 15px;
            line-height: 1.2;
        }
        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .img {
        float: left;
    }
}

.home-item-block {
    background: url(../../static/images/home-item-block-bg.png) no-repeat center top;
    height: 465px;
    text-align: center;
    margin-bottom: 150px;
    .container {
        padding-top: 125px;
        position: relative;
    }
    .item {
        width: 33.33%;
        height: 400px;
        background: #fff;
        float: left;
        h3 {
            font-size: 30px;
            padding-top: 47px;
            margin-bottom: 37px;
            line-height: 1;
        }
        .img {
            img {
                margin-right: -33px;
            }
        }
        .info {
            font-size: 16px;
            max-width: 210px;
            margin: 0 auto;
            min-height: 87px;
        }
        &.left {
            border-radius: 5px 0px 0px 5px/5px 0px 0px 5px;
            box-shadow: 0px 8px 13px 0px rgba(200, 200, 200, 0.4);
        }
        &.right {
            border-radius: 0px 5px 5px 0px/0px 5px 5px 0px;
            box-shadow: 0px 8px 13px 0px rgba(200, 200, 200, 0.4);
            float: right;
        }
        &.middle {
            width:33.5%;
            height: 455px;
            position: absolute;
            left: 50%;
            top: 105px;
            // z-index:1;
            transform:translateX(-50%);
            background: url(../../static/images/home-forex-bg.png) no-repeat 0 0;
            background-size: cover;
            border-radius: 5px;
            color: #fff;
            .btn-gridient {
                background: #fff;
                color: #333;
                box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
            }
            &:before {
                content: '';
                left: 10px;
                right: 10px;
                z-index: -1;
                border-radius: 0px 0px 5px 5px;
                position: absolute;
                bottom: -10px;
                height: 10px;
                background: #132b92;
            }
            &:after {
                display: block;
                content: '';
                width: 572px;
                height: 35px;
                z-index: 1;
                border-radius: 5px;
                position: absolute;
                bottom: -50px;
                left: 50%;
                margin-left: (-572px/2);
                background: url(../../static/images/home-forex-shadow.png) no-repeat 0 0;
                opacity: 0.6;
            }
        }
    }
}

.home-economic-calendar-forex {
    background: #eeeeed;
    margin-top: -150px;
    padding-top: 200px;
    padding-bottom: 80px;
    .box {
        margin-left: -10px;
        margin-right: -10px;
        .item {
            padding: 0px 10px;
            width: 50%;
            float: left;
            &.economic-calendar {
                width: 55%;
            }
            &.charts {
                width: 45%;
            }
            .content {
                // background:#fff;
            }
        }
    }
}

.page-title {
    font-size: 30px;
    text-align: center;
    line-height: 1;
    margin-bottom: 30px;
    span {
        position: relative;
        em {
            position: absolute;
            top: 10px;
            width: 60px;
            height: 3px;
            background: #909090;
            vertical-align: middle;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                width: 50%;
                height: 100%;
                background: #909090;
            }
            &:first-child {
                right: -80px;
                &:before {
                    left: 0;
                }
            }
            &:last-child {
                left: -80px;
                &:before {
                    right: 0;
                }
            }
        }
    }
}
.home-team{
	padding-top:50px;
    padding-bottom:20px;
    background:#f5f4f4;
    .container{
        position: relative;
        .prev,.next{
            width:70px;
            height:70px;
            position: absolute;
            top:50%;
            z-index: 9;
            border:1px solid #34cde9;
            border-radius:50%;
            background:url(../../static/images/arrow.png) no-repeat center center;
            cursor:pointer;
            transition:all 0.3s linear;
            &:hover{
                background-color:#fff;
                border:1px solid #fff;
                box-shadow: 5.435px 20.284px 24px 0px rgba(69, 117, 209, 0.2);

            }
        }
        .prev{
            left:-100px;
            background:url(../../static/images/arrow-left.png) no-repeat center center;
            // transform:rotate(180deg);
        }
        .next{
            right:-130px;
        }
    }
    .hd{
        margin-top:-30px;
        margin-bottom:40px;
        img{
            width:100px;
            height:100px;
            border-radius: 50%;
        }
        .f-r{
            padding-top:50px;
        }
    }
    .ln{
        font-size:18px;
        color:#1a55a3;
        &:after{
            content:"";
            display:block;
            width:50px;
            height:3px;
            background:#1a55a3;
            margin-top:10px;
        }
    }
    p{
        margin-bottom:20px;
    }
    .swiper-container1{
        // height:100px;
        padding: 50px 30px 30px 0;
        .swiper-slide{
            background:#fff;
            padding: 0px 40px 40px;
            border-bottom-right-radius: 50px;
            box-shadow: 0px 14px 18px 0px rgba(236, 236, 236, 1);
        }
    }
}

.home-ad{
    background:#f5f4f4;
    padding-bottom:30px;
    .swiper-pagination-bullet{
        background:#fff;
        opacity: 0.8;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #007aff;
    }
}