.footer{
	background:#1a55a3;
	color:#fff;
	text-align:center;
	a{
		color:inherit;
	}
	.link{
		padding: 15px 0;
		border-bottom:1px solid #0f4690;
		a{
			display: inline-block;
			margin: 0px 10px;
			&:hover{
				color:#e7f1ff;
			}
		}
	}
	.copyright{
		border-top:1px solid #276abe;
		padding: 15px 0;
	}

}