@import './html5.css';
@import './_theme.scss';
body {
    font-family: arial, 'microsoft yahei', '微软雅黑';
    font-size: 14px;
    color: $color;
    line-height: 1.6;
    background: #fff;
    
}



